.nav-bar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
.homeMain {
  display: flex;
  justify-content: space-evenly;
}

.login-form {
  padding-top: 8%;
  margin: auto;
  width: 16%
}
